/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow: hidden;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  background: #002978;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
  background-color:#002978 ;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 10px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #200edf;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background:white;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding: 12px;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 240px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}

/* partie categorie add vente */
.left{
  width: 20%;
  background-color: red;
  float: left;
  height: 800px;
}

.right{
  width: 80%;
  float: right;
  height: 800px;

}
.conteneur2{
  margin-top: 8%;
  margin-left: 8%;
  box-shadow:inset 0 0 0.5em #002978, 0 0 0.5em #002978;
  height: auto;
  width: 70%;
  color: white;
  text-align: center;
}

.conteneur{
    margin-top: 13%;
    margin-left: 10%;
    background-color:#002978;
    height: auto;
    width: 40%;
    color: white;
    text-align: center;
}

input{
  margin-top: 3%;
  width: 350px;
  height: 40px;
  border-radius: 10px;
}

select{
  width: 350px;
  height: 40px;
  border-radius: 10px;
  margin-top: 8%;
}
button{
  margin-top: 8%;
  background-color: blue;
  margin-left: 2%;
  color: white;
  border-radius: 8px;
  height: 50px;
  width: 300px;
}

/* fin partie categorie vente */

/* partie categorie list vente */



 /* fin partie article vente */
 .conteneur3{
  margin-top: 2%;
  margin-left: 1%;
  background-color:#002978;
  height: auto;
  width: 80%;
  color: white;
}
.conteneur4{
  background-color:#002978;
  height: 90vh;
  width: 80%;
  color: white;
  margin-top: 5%;
 }
 .first{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  background-color: green;

 }
 .fournisseur{
  margin-top: -2.5%;
  display: inline;
 }
 .second{
  margin-top: 2%;
  background-color:pink;
  display:flex;
 }
 .three{
  margin-top: 2%;
  justify-content: space-around;
  background-color:green;
  text-align: left;
  display:flex;
 }

 #categorie{
  margin-top: 3%;
  width: 200px;
  height: 40px;
  border-radius: 10px;
 }
 .bouton1{
  background-color: blue;
  color: white;
  border-radius: 8px;
  height: 40px;
  width: 50px;
  margin-left: 6%;
  margin-top: 15%;
 }
 #Article{
  margin-top: 3%;
  width: 200px;
  height: 40px;
  border-radius: 10px;
 }
 #prixAC{
  margin-top: 3%;
  width: 200px;
  height: 40px;
  border-radius: 10px;
 }
 #quantiteAC{
  margin-top: 3%;
  width: 200px;
  height: 40px;
  border-radius: 10px;
 }
 .bouton2{
  background-color: blue;
  color: white;
  border-radius: 8px;
  height: 40px;
  width: 80px;
  margin-left: 6%;
 }
 .four{
  justify-content: space-around;
  background-color:pink;
  margin-top: 2%;
  height: auto;
 }
table{
background-color: #fff;
  width: 100%;
  text-align: center;
}
thead{
  background-color: #002978;
  color: white;
}
table,th{
  border: 1px solid black;
}
tbody tr:nth-child(even){
  background-color: #d6d6d6;
}
table,tr{
  border: 1px solid black;
}
table,td{
  border: 1px solid black;
}
.five{
  background-color:green;
  text-align: right;
  height: auto;
  margin-top: 2%;
 }

#MontantTotal{
  margin-top: 3%;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-top: -2%;
}

.bouton3{
  background-color: blue;
  color: white;
  border-radius: 8px;
  height: 40px;
  width: 120px;
  margin-top: 1%;
 }
#recherche{
    border-color: #002978;
}
#ok{
  margin-top:5%;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  margin-left: 10%;

}

#ok2{
  margin-top: 3%;
  width: 600px;
  height: 35px;
  border-radius: 10px;
  margin-left: 10%;
}

.boutton5{
  background-color: blue;
  color: white;
  border-radius: 8px;
  height: 40px;
  width: 120px;
  margin-left: 30vh;
 }
 .boutton6{
  background-color: blue;
  color: white;
  border-radius: 8px;
  height: 40px;
  width: 120px;
  margin-left: 45vh;
 }
 #kaka{
    margin-top: 6%;
 }
#kiki{
  margin-top: 6%;
}
.form1{
  background:#002978;
}



@media screen and (max-width:1090px) {

}